{% extends 'listings/base.html' %}

{% block content %}
<a href="{% url 'band-list' %}">Bands</a>
<a href="{% url 'contact' %}">Contact Form</a>
<a href="{% url 'about' %}">About us</a>
<a href="{% url 'listing-create' %}">Create a new title</a>
<h1>Welcome to my listings</h1>
        <p>My favorite titles are: </p>
        <ul>
            {% for title in titles %}
            <li>
                <a href="{% url 'listing-detail' title.id %}">{{ title.title }}</a>
                <a href="{% url 'listing-update' title.id %}">[Edit]</a>
            </li>
            {% endfor %}
        </ul>
{% endblock %}
