<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Merchex Listing</title>
    </head>
    <body>
        <h1>Welcome to my listings</h1>
        <p>My favorite titles are: </p>
        <ul>
            {% for title in titles %}
            <li>{{ titles.title }}</li>
            {% endfor %}
        </ul>
        <p>I have {{ titles|length }} favorite titles.</p>
            <p>
                I have
                {% if titles|length < 5 %}
                    few
                {% elif titles|length < 10 %}
                    some
                {% else %}
                    a lot of
                {% endif %}
                    favorite titles.
            </p>
    </body>
</html>
